O.*/
/db
/bin
/dbd
/include
/lib
/templates
envPaths
cdCommands
dllPath.bat
runIOC.bat
runIOC.sh
relPaths.sh
*.py[oc]
*.sq3
__pycache__/
/.idea
.project
install_scripts/workspace/*
misc.xml
modules.xml
upgrade.iml
workspace.xml
